<div class="card">
	<h4 class="blog-title">{{blog}}</h4>
<!-- 	<ul class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
		<li data-ng-repeat="pic in pics" class="grid">
			<img src="{{pic.media.m}}" class="grid-img" data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}" />
		</li>
	</ul> -->
	
	<p> {{blogCtrl.blogs.entries[0].content}} </p>
	<img ng-src="{{blogCtrl.blogs.image.src}}" />

</div>