img {
	width: 90%;
	text-align: center;
}

h2 {
	text-align: center;
	color: black;
}

h4 {
	text-align: center;
}

a {
	color: black;
}

footer {
	text-align: center;
}

body {
	font-family: avenir;
}	